<form action="/" method="post">
<label for="rname">Recipe name: </label><br>
<input type="text" id="rname" name="rname"><br>
<label for="descr">Description: </label><br>
<input type="text" id="descr" name="descr"><br>
<input type="submit" value="Submit">
</form>
